<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CoinFlare.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <CoinFlare.Properties.Settings>
            <setting name="ApiUrlBase" serializeAs="String">
                <value>https://www.coinspot.com.au</value>
            </setting>
            <setting name="MyApiKey" serializeAs="String">
                <value>f575d17e9d487a8a36ab00302a09626b</value>
            </setting>
            <setting name="MySecret" serializeAs="String">
                <value>TBDH2Q3UGMHH7AQ9BNKNVJJ21F7TZ52MDZT1P0WCRCL1RJLHYZ7X2GRHPAN11631AD5D34QUN3C631B8</value>
            </setting>
        </CoinFlare.Properties.Settings>
    </userSettings>
</configuration>